<%= paginate @events %>
<ul>
<% @events.each do |event| %>
   <li>
         <%= event.name%>
         <%= link_to 'Show', event_path(event) %>
         <%= link_to 'Edit', edit_event_path(event) %>
         <%= link_to 'Delete', event_path(event), :method => :delete, :data => {:confirmm => "Are you sure?"}  %>
   </li>
<% end %>
</ul>

<%= link_to 'New Event', :controller => 'events', :action => 'new' %>



